
@tailwind base;
@tailwind components;
@tailwind utilities;


nav ul li ul {
    min-width: 150px;
    display: none;
    position: absolute;
    z-index: 10;
}

nav ul li:hover ul {
    display: block;
}